
body{
    font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size:14px;
	color:#888;
	margin: 0;
	position: relative;
}
/* donate-button*/
.donate-button{
	font-weight: 600;
	z-index: 999;
	position: fixed;
	height:44px;
	width: 100px;
	top:150px;
	right:0px;
	border-color: #3680b0;
	font-family:'Poppins';
	color:#2C2D3F ;
	background-color: white;
	transition:transform (0.6s);
	border-radius: 70%;
}

.active{
	right:0;
}
.big-title {
	font-weight: 600;
	color: #AFC3BB;
	font-size: 15px;
}
.title {
	font-weight: 600;
	color: #E6E6FA;
	font-size: 15px;
}
.pro-features .button{}
.pro-features .button .btn {
	width: 100%;
	text-align: center;
	margin-top: 8px;
	display: inline-block;
	float: left;
	font-size: 13px;
	width: 100%;
	text-transform: capitalize;
}


#scrollUp {
	bottom: 15px;
	right: 15px;
	padding: 10px 20px;
	background: #7db8e9;
	color: #fff;
	font-size: 25px;
	width: 45px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	padding: 0;
	border-radius: 3px;
	box-shadow: 0px 0px 10px #00000026;
}
#scrollUp:hover{
	background:#2C2D3F;
}
/* Color Plate */
.color-plate {
	position: fixed;
	display: block;
	z-index: 99998;
	padding: 20px;
	width: 245px;
	background: #fff;
	right: -245px;
	text-align: left;
	top: 30%;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	-webkit-box-shadow: -3px 0px 25px -2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -3px 0px 25px -2px rgba(0, 0, 0, 0.2);
	box-shadow: -3px 0px 25px -2px rgba(0, 0, 0, 0.2);
}
.color-plate.active{
	right:0;
}
.color-plate .color-plate-icon {
	position: absolute;
	left: -48px;
	width: 48px;
	height: 45px;
	line-height: 45px;
	font-size: 21px;
	border-radius: 5px 0 0 5px;
	background: #AFC3BB;
	text-align: center;
	color: #fff !important;
	top: 0;
	cursor: pointer;
	box-shadow: -4px 0px 5px #00000036;
}
.color-plate h4 {
	display: block;
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: 500;
}
.color-plate p {
	font-size: 13px;
	margin-bottom: 15px;
	line-height: 20px;
}
.color-plate span {
	width: 42px;
	height: 35px;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	margin-right: 3px;
}
.color-plate span:hover{
	cursor:pointer;
}
.color-plate span.color1{
	background:#1A76D1;
}
.color-plate span.color2{
	background:#2196F3;
}
.color-plate span.color3{
	background:#32B87D;
}
.color-plate span.color4{
	background:#FE754A;
}
.color-plate span.color5{
	background:#F82F56;
}
.color-plate span.color6{
	background:#01B2B7;
}
.color-plate span.color7{
	background:#6c5ce7;
}
.color-plate span.color8{
	background:#85BA46;
}
.color-plate span.color9{
	background:#273c75;
}
.color-plate span.color10{
	background:#FD7272;
}
.color-plate span.color11{
	background:#badc58;
}
.color-plate span.color12{
	background:#44ce6f;
}
/*=============================
	End Global CSS 
===============================*/

/*===================
	Start Header CSS 
=====================*/
.header{
	background-color:#fff;
	position:relative;
}
.header .navbar-collapse{
	padding:0;
}
/* Topbar */
.header .topbar{
	background-color:#fff;
	border-bottom:1px solid #eee;
}
.header .topbar{
	padding:15px 0;
}
.header .top-link{
	float:left;
}
.header .top-link li{
	display:inline-block;
	margin-right:15px;
}
.header .top-link li:last-child{
	margin-right:0px;
}
.header .top-link li a{
	color:#2C2D3F;
	font-size:14px;
	font-weight:400;
}
.header .top-link li:hover a{
	color:#ADD8E6;
}
.header .top-contact{
	float:right;
}
.header .top-contact li{
	display:inline-block;
	margin-right:25px;
	color:#2C2D3F;
}
.header .top-contact li:last-child{
	margin-right:0;
}
.header .top-contact li a{
	font-size:14px;
}
.header .top-contact li a:hover{
	color:#1e6fb2;
}
.header .top-contact li i{
	color:#1e6fb2;
	margin-right:8px;
}
.header .header-inner {
	background:#fff;
	z-index:999;
	width:100%;
}
.get-quote{
	margin-top:12px;
}
.get-quote .btn{
	color:#fff;
}
.header .navbar {
	background: none;
	box-shadow: none;
	border: none;
	margin: 0;
	height: 0px;
	min-height: 0px;
}
.header .nav li{
	margin-right: 15px;
    float: left;
	position:relative;
}
.header .nav li:last-child{
	margin:0;
}
.header .nav li a {
	color: #2C2D3F;
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
	padding: 25px 12px;
	position: relative;
	display: inline-block;
	position:relative;
}
.header .nav li a::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 3px;
	width:0%;
	background: #1e6fb2;
	border-radius: 5px 5px 0 0;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.header .nav li.active a:before{
	opacity:1;
	visibility:visible;
	width: 100%;
}
.header .nav li.active a{
	color:#1e6fb2;
}
.header .nav li:hover a:before{
	opacity:1;
	width: 100%;
	visibility:visible;
}
.header .nav li:hover a{
	color:#abd9fa;
}
.header .nav li a i {
	display: inline-block;
	margin-left: 1px;
	font-size: 13px;
}
/* Middle Header */
.header.style2 .header-inner {
	border-top: 1px solid #eee;
}
.header.style2 .logo {
	margin-top:6px;
}
.header .middle-header {
	background: #fff;
	padding: 20px 0px;
}
.header .widget-main{
	float:right;
}
.header.style2 .get-quote {
	margin-top: 0;
}
.header .single-widget {
	position: relative;
	float: left;
	margin-right: 30px;
	padding-left: 55px;
}
.header .single-widget:last-child{
	margin:0;
}
.header .single-widget .logo{
	margin:0;
	padding:0;
	margin-top: 7px;
}
.header .single-widget i {
	position: absolute;
	left: 0;
	top: 6px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	color: #fff;
	background: #1e6fb2;
	border-radius: 4px;
	text-align: center;
	font-size: 15px;
}
.header .single-widget h4 {
	font-size: 15px;
	font-weight: 500;
}
.header .single-widget p {
	margin-bottom: 5px;
	text-transform: capitalize;
}
.header .single-widget.btn{
	margin-left:0;
}
/* Dropdown Menu */
.header .nav li .dropdown {
	background: #fff;
	width: 220px;
	position: absolute;
	left:-20px;
	top: 100%;
	z-index: 999;
	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 5px #3333334d;
	transform-origin: 0 0 0;
	transform: scaleY(0.2);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	opacity: 0;
	visibility: hidden;
	top: 74px;
	border-left:3px solid #ADD8E6;
}
.header .nav li:hover .dropdown{
	opacity:1;
	visibility:visible;
	transform:translateY(0px);
}
.header .nav li .dropdown li{
	float:none;
	margin:0;
	border-bottom:1px dashed #eee;
}
.header .nav li .dropdown li:last-child{
	border:none;
}
.header .nav li .dropdown li a {
	padding: 12px 15px;
	color: #666;
	display: block;
	font-weight: 400;
	text-transform: capitalize;
	background: transparent;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.header .nav li .dropdown li a:before{
	display:none;
}
.header .nav li .dropdown li:last-child a{
	border-bottom:0px;
}
.header .nav li .dropdown li:hover a{
	color:#1A76D1;
}
.header .nav li .dropdown li a:hover{
	border-color:transparent;
}
/* Right Bar */
.header.style2 .main-menu{
	display:inline-block;
	float:left;
}
.header .right-bar {
	float: right;
}
.header .right-bar {
	padding-top:20px;
}
.header .right-bar {
	display: inline-block;
}
.header .right-bar a {
	color: #fff;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	background: #1e6fb2;
	border-radius: 4px;
	display: block;
	font-size: 12px;
}
.header .right-bar li a:hover{
	color:#fff;
	background:#1e6fb2;
}
.header .search-top.active .search i:before{
	content:"\eee1";
	font-size:15px;
}
/* Search */
.header .search-form {
	position: absolute;
	right: 0;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	top: 74px;
	box-shadow: 0px 0px 10px #0000001c;
	border-radius: 4px;
	overflow: hidden;
	transform:scale(0);
}
.header .search-top.active .search-form {
	opacity:1;
	visibility:visible;
	transform:scale(1);
}
.header .search-form input {
	width: 282px;
	height: 50px;
	line-height: 50px;
	padding: 0 70px 0 20px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 3px;
	border: none;
	background: #fff;
	color: #2C2D3F;
}
.header .search-form button {
	position: absolute;
	right: 0;
	height: 50px;
	top: 0;
	width: 50px;
	background: #1e6fb2;
	border: none;
	color: #fff;
	border-radius: 0 4px 4px 0;
	border-left:1px solid transparent;
}
.header .search-form button:hover{
	background:#fff;
	color:#1e6fb2;
	border-color:#e6e6e6;
}
/* Header Sticky */
.header.sticky .header-inner{
	position:fixed;
	z-index:999;
	top:0;
	left:0;
	bottom:initial;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	animation: fadeInDown 0.5s both 0.1s;
	box-shadow:0px 0px 13px #00000054;
}
/*=========================
	End Header CSS
===========================*/

/*===========================
	Start Hero Area CSS
=============================*/
.slider .single-slider {
	height: 600px;
	background-size: cover;
	background-position: center;
	background-repeat:no-repeat;
}
.slider .single-slider .text{
	margin-top:120px;
}
.slider.index2 .single-slider .text{
	margin-top:150px;
}
.slider .single-slider h1 {
	color: #2C2D3F;
	font-size: 38px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: 42px;
}
.slider .single-slider h1 span{
	color:#ADD8E6;
}
.slider .single-slider p {
	color: #2C2D3F;
	margin-top: 27px;
	font-weight: 400;
}
.slider .single-slider .button{
	margin-top:30px;
}
.slider .single-slider .btn{
	color:#fff;
	background:#1e6fb2;
	font-weight:500;
	display:inline-block;
	margin:0;
	margin-right:10px;
}
.slider .single-slider .btn:last-child{
	margin:0;
}
.slider .single-slider .btn.primary{
	background:#2C2D3F;
	color:#fff;
}
.slider .single-slider .btn.primary:before{
	background:#1e6fb2;
}
.slider .owl-carousel .owl-nav {
	margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
	margin-top:-25px;
}
.slider .owl-carousel .owl-nav div {
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	background: #1e6fb2;
	color: #fff;
	font-size: 26px;
	position: absolute;
	margin: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 0;
	border-radius: 50%;
}
.slider .owl-carousel .owl-nav div:hover{
	background:#2C2D3F;
	color:#fff;
}
.slider .owl-carousel .owl-controls .owl-nav .owl-prev{
	left:20px;
}
.slider .owl-carousel .owl-controls .owl-nav .owl-next{
	right:20px;
}

/* Slider Animation */
.owl-item.active .single-slider h1{
    animation: fadeInUp 1s both 0.6s;
}
.owl-item.active .single-slider p{
    animation: fadeInUp 1s both 1s;
}
.owl-item.active .single-slider .button{
    animation: fadeInDown 1s both 1.5s;
}
/*===========================
	End Hero Area CSS
=============================*/

/*=============================
	Start BUTTONS CSS
===============================*/

        .button_section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .button_section button {
            height: 110px;
            width: 350px;
            border-radius: 55px;
            background-color: white;
            border-color: #1e6fb2;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            color: #2C2D3F;
            font-size: 14px;
            font-weight: 600;
            font-family: Poppins;
            transition: transform 0.6s;
            margin: 20px 0;
        }

        .button_section button:hover {
            transform: scale(0.9);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        }

        @media screen and (min-width: 768px) {
            .button_section {
                flex-direction: row;
                justify-content: space-around;
            }

            .button_section button {
                width: 150px;
				height: 80px;
            }
        }
    

/*=============================
	End BUTTONS CSS
===============================*/



/*=======================
	Start Fun Facts CSS
=========================*/
.fun-facts{
	position:relative;
	margin-top:30px ;
	margin-bottom:100px ;
}
.fun-facts.section{
	padding:120px 0;
}
.fun-facts{
	background:url('img/fun-bg.jpg');
	background-size:cover;
	background-repeat:no-repeat;
}
.fun-facts .single-fun {
	
}
.fun-facts .single-fun i {
	position: absolute;
	left: 0;
	font-size: 62px;
	color: #fff;
	height: 70px;
	width: 70px;
	line-height: 67px;
	font-size: 28px;
	text-align: center;
	padding: 0;
	margin: 0;
	border: 3px solid #000062;
	border-radius: 0px;
	top: 50%;
	margin-top: -35px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 50%;
}
.fun-facts .single-fun:hover i{
	color:#ADD8E6;
	background:#fff;
	border-color:transparent;
}
.fun-facts .single-fun .content {
	padding-left: 80px;
}
.fun-facts .single-fun span {
	color: #000062;
	font-weight: 600;
	font-size: 30px;
	position: relative;
	display: block;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s eas;
	display: block;
	margin-bottom: 7px;
}
.fun-facts .single-fun p{
	color:#fff;
	font-size:15px;
}
/*===================
	End Fun Facts
=====================*/




/*=========================
	Srart service CSS
===========================*/
.services .single-service{
	margin:30px 0;
	position:relative;
	padding-left:70px;
}
.services .single-service i{
	font-size:45px;
	color:#ADD8E6;
	position:absolute;
	left:0;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.services .single-service h4{
	text-transform:capitalize;
	margin-bottom:10px;
	color:#2C2D3F;
}
.services .single-service h4 a{
	color:#2C2D3F;
	font-size:20px;
	font-weight:600;
}
.services .single-service h4 a:hover{
	color:#1e6fb2;
}
.services .single-service p{
	color:#868686;
}
/*-- Service Details --*/
.services-details-img {
  margin-bottom: 50px;
}

.services-details-img img {
  width: 100%;
  margin-bottom: 30px;
}
.services-details-img h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 16px;
}
.services-details-img P {
  margin-bottom: 20px;
}
.services-details-img blockquote {
	font-size: 15px;
	color: #AFC3BB;
	background-color: #AFC3BB;
	padding: 30px 75px;
	line-height: 26px;
	position: relative;
	margin-bottom: 20px;
	color: #fff;
}
.services-details-img blockquote i {
  position: absolute;
  display: inline-block;
  top: 20px;
  left: 38px;
  font-size: 32px;
}
.service-details-inner-left {
  background-image: url("img/signup-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.service-details-inner-left img {
  display: none;
}
.service-details-inner {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}
.service-details-inner h2 {
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 15px;
	border-left: 3px solid #AFC3BB;
	padding-left: 15px;
}
.service-details-inner p {
  margin-bottom: 15px;
}
.service-details-inner p:last-child {
  margin-bottom: 0;
}
/*=========================
	End service CSS
===========================*/



/*====================
   Start who we are CSS
======================*/
.who-are-we-section{
	margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
   

}
.img-section{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	height: inherit;
}

.desp-part span {
	color:#ADD8E6 ;
	
}
.desp-part{
	
	padding-left: 80px;
	padding-right: 80px;
	font-size:15px;
	text-align: center;
}
@media screen and (max-width: 768px) {
	.who-are-we-section {
		grid-template-columns: 1fr; /* Change to a single column layout on small screens */
	}

	.left-img {
		padding: 0; /* Remove padding on small screens */
	}

	.text-section {
		padding: 0 20px; /* Add some padding to the text section for better spacing */
	}
}

/*==========================
	Start testimonials CSS
============================*/

.gtco-testimonials {
	position: relative;
	margin-top: 30px;
	margin-bottom: 90px;
}

.gtco-testimonials h2 {
	font-size: 30px;
	text-align: center;
	color: #2C2D3F;
	margin-bottom: 5px;
	font-weight:600;
	
}

.owl-stage-outer {
	padding: 30px 0;
}

.owl-nav {
	display: none;
}

.owl-dots {
	text-align: center;
}

.owl-dots span {
	position: relative;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: block;
	background: #fff;
	border: 2px solid #ADD8E6;
	margin: 0 5px;
}

.owl-dots .active {
	box-shadow: none;
}

.owl-dots .active span {
	background: #ADD8E6;
	box-shadow: none;
	height: 12px;
	width: 12px;
	margin-bottom: -1px;
}

.card {
	background: #fff;
	box-shadow: 0 8px 30px -7px #c9dff0;
	margin: 0 20px;
	padding: 0 10px;
	border-radius: 20px;
	border: 0;
}

.card .card-img-top {
	max-width: 100px;
	border-radius: 50%;
	margin: 15px auto 0;
	box-shadow: 0 8px 20px -4px #95abbb;
	width: 100px;
	height: 100px;
}
.card{
	font-family: 'poppins' ;
}
.card h5 {
	color: #1e6fb2;
	font-size: 21px;
	line-height: 1.3;
}

.card h5 span {
	font-size: 18px;
	color: #666666;
}

.card p {
	font-size: 13px;
	
	padding-bottom: 15px;
}


.gtco-testimonials .active {
	opacity: 0.5;
	transition: all 0.3s;
}

.gtco-testimonials .center {
	opacity: 1;
}

.gtco-testimonials .center h5 {
	font-size: 24px;
}

.gtco-testimonials .center h5 span {
	font-size: 20px;
}

.gtco-testimonials .center .card-img-top {
	max-width: 100%;
	height: 120px;
	width: 120px;
}


@media (max-width: 767px) {
	.gtco-testimonials {
		margin-top: 20px;
	}
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
	outline: 0;
}

/*==========================
	End testimonials CSS
============================*/



/*=========================
	Start Footer CSS
===========================*/

/* Start Footer CSS */
.footer-content {
    background-color: #2C2D3F;
    color: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icons {
    list-style: none;
    display: flex;
    padding: 0;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 100%;
    display: block;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #2C2D3F;
    background: #fff;
    border-color: transparent;
}

.top-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.middle-top-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.right-top-footer, .left-top-footer {
    display: none;
}

.copyright-part {
    text-align: center;
    margin-top: 20px;
}

/* End Footer CSS */
/*=========================
	End Footer CSS
===========================*/
/*=============================
    Start Feautes CSS
===============================*/
.Feautes{
    padding-top:0;
}
.Feautes.index2{
    padding-top:100px;
}
.Feautes.testimonial-page{
    padding-top:100px;
}
.Feautes .single-features{

    text-align:center;
    position:relative;
    padding:10px 20px;
}
.Feautes .single-features::before {
    position: absolute;
    content: "";
    right: -72px;
    top: 60px;
    width: 118px;
    border-bottom: 3px dotted #1e6fb2;
}
.Feautes .single-features.last::before{
    display:none;
}
.Feautes .single-features .signle-icon{
    position:relative;
}
.Feautes .single-features .signle-icon i{
    font-size:50px;
    color:#1e6fb2;
    position:absolute;
    left:50%;
    margin-left:-50px;
    top:0;
    height:100px;
    width:100px;
    line-height:100px;
    text-align:center;
    border:1px solid #dddddd;
    border-radius:100%;
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    transition:all 0.4s ease;
}
.Feautes .single-features:hover .signle-icon i{
    background:#1e6fb2;
    color:#fff;
    border-color:transparent;
}
.Feautes .single-features h3{
    padding-top: 128px;
    color:#2C2D3F;
    font-weight:600;
    font-size:21px;
}
.Feautes .single-features p {
    margin-top: 20px;
}
/*=============================
    End Feautes CSS
===============================*/

/*=======================
    Start Fun Facts CSS
=========================*/
/*=============================
    Start Schedule CSS
===============================*/
.schedule {
    background: #fff;
    margin: 0;
    padding: 0;
    height: 230px;
}
.schedule .schedule-inner {
    position: relative;
    transform: translateY(-50%);
    z-index:9;
}
.schedule .single-schedule {
    position: relative;
    text-align: left;
    z-index:3;
    border-radius:5px;
    background:#1e6fb2;
     -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
.schedule .single-schedule .inner {
    overflow:hidden;
    position: relative;
    padding:30px;
    z-index:2;
}
.schedule .single-schedule:before{
    position: absolute;
    z-index: -1;
    content: '';
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background:#1e6fb2;
    opacity: 0;
    filter: blur(10px);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
.schedule .single-schedule:hover:before{
    opacity: 0.8;
}
.schedule .single-schedule:hover{
    transform: translateY(-5px);
}
.schedule .single-schedule .icon i{
    position: absolute;
    font-size: 110px;
    color: #fff;
     -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    z-index:-1;
    visibility:visible;
    opacity:0.2;
    right: -25px;
    bottom: -30px;
}
.schedule .single-schedule span{
    display:block;
    color:#fff;
}
.schedule .single-schedule h4{
    font-size: 20px;
    font-weight:600;
    display:inline-block;
    text-transform:capitalize;
    color:#fff;
    margin-top:13px;
}
.schedule .single-schedule p{
    color:#fff;
    margin-top:22px;
}
.schedule .single-schedule a {
    color: #fff;
    margin-top: 25px;
    font-weight: 500;
    display: inline-block;
    position: relative;
}
.schedule .single-schedule a:before{
    position:absolute;
    content:"";
    left:0;
    bottom:0;
    height:1px;
    width:0%;
    background:#fff;
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    transition:all 0.4s ease;
}
.schedule .single-schedule a:hover:before{
    width:100%;
    width:100%;
}
.schedule .single-schedule a i{
    margin-left:10px;
}

.schedule .single-schedule .time-sidual{
    overflow:hidden;
    margin-top:17px;
}
.schedule .single-schedule .time-sidual li {
    display: block;
    color: #fff;
    width: 100%;
    margin-bottom:3px;
}
.schedule .single-schedule .time-sidual li:last-child{
    margin:0;
}
.schedule .single-schedule .time-sidual li span{
    display:inline-block;
    float:right;
}
.schedule .single-schedule .day-head .time {
    font-weight: 400;
    float: right;
}
/*=============================
    End Schedule CSS
===============================*/

        .wrapper {
            background-color: #fff;
            width: 100%;
            padding: 5%;
            margin: 0;
            border-radius: 10px;
        }

        .wrapper h2 {
            color: #1e6fb2;
            font-size: 24px;
            padding: 10px;
            margin-bottom: 8px;
            text-align: center;
            border-bottom: 1px solid #1e6fb2;
        }

        .wrapper h4 {
            padding-bottom: 5px;
            color: #1e6fb2;
        }

        .input_group {
            margin-bottom: 8px;
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 5px 0;
        }

        .input_box {
            width: 100%;
            margin-right: 12px;
            position: relative;
        }

        .input_box:last-child {
            margin-right: 0;
        }

        .input_box .name {
            padding: 14px 10px 14px 50px;
            width: 100%;
            background-color: #fcfcfc;
            border: 1px solid #0003;
            outline: none;
            letter-spacing: 1px;
            transition: 0.3s;
            border-radius: 3px;
            color: #333;
        }

        .input_box .name:focus,
        .dob:focus {
            -webkit-box-shadow: 0 0 2px 1px #1A76D1;
            -moz-box-shadow: 0 0 2px 1px #1A76D1;
            box-shadow: 0 0 2px 1px #1A76D1;
            border: 1px solid #1A76D1;
        }

        .input_box .icon {
            width: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            color: #333;
            border-radius: 2px 0 0 2px;
            transition: 0.3s;
            font-size: 20px;
            pointer-events: none;
            border: 1px solid #00000003;
            border-right: none;
        }

        .name:focus+.icon {
            background-color: #1e6fb2;
            color: #fff;
            border-right: 1px solid #1e6fb2;
            border: none;
            transition: 1s;
        }

        .dob {
            width: 30%;
            padding: 14px;
            text-align: center;
            background-color: #fcfcfc;
            transition: 0.3s;
            outline: none;
            border: 1px solid #c0bfbf;
            border-radius: 3px;
        }

        .radio {
            display: none;
        }

        .input_box label {
            width: 50%;
            padding: 13px;
            background-color: #fcfcfc;
            display: inline-block;
            float: left;
            text-align: center;
            border: 1px solid #c0bfbf;
        }

        .input_box label:first-of-type {
            border-top-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-right: none;
        }

        .input_box label:last-of-type {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .radio:checked+label {
            background-color: #1e6fb2;
            color: #fff;
            transition: 0.5s;
        }

        .input_box button {
            width: 100%;
            background-color: #1e6fb2;
            border: none;
            color: #fff;
            padding: 15px;
            border-right: 4px;
            font-size: 16px;
            transition: all 0.3s ease;
            border-radius: 8px;
        }

        .input_box button:hover {
            cursor: pointer;
            background-color: #1e6fb2;
        }

        /*=========================
    Start Footer CSS
===========================*/
        .footer-content {
            position: absolute;
            bottom: 0 px;
            width: 100%;
            background-color: #a4a4a6;
            height: 160px;
            display: flex;
            flex-direction: column;
            color: rgb(8, 14, 118);

        }

        .top-footer {

            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 20px;
        }

        .right-top-footer,
        .left-top-footer {
            flex: 2;
        }

        .middle-top-footer {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .social-icons {
            flex: 5;
        }

        .copyright-part {
            flex: 2;
            display: flex;
            justify-content: center;
            color: white;
        }


        .social {
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            justify-content: space-between;
        }

        .middle-social {
            flex: 1;
        }

        .right-social,
        .left-social {
            flex: 2;
        }

        .social li {
            display: inline-block;
            margin-right: 10px;
        }

        .social li:last-child {
            margin-right: 0px;
        }

        .social li a {
            height: 34px;
            width: 34px;
            line-height: 34px;
            text-align: center;
            border: 1px solid #fff;
            text-align: center;
            padding: 0;
            border-radius: 100%;
            display: block;
            color: #fff;
            font-size: 16px;
        }

        .social li a:hover {
            color: #2C2D3F;
            background: #fff;
            border-color: transparent;
        }

        /*=========================
    End Footer CSS
===========================*/
  


/*=======================
	Start Blog CSS
=========================*/
/* Assuming the element with the background is identified by a class or ID */
.adcrumbs-section {
	background: none; /* Set the background to none or transparent */
	/* You can also specify other CSS properties as needed */
  }
  
.blog{
	background:#fff;
}
.blog .blog-title{
	text-align:center;
}
.blog .single-news {
	background: #fff;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	box-shadow: 0px 0px 10px #00000014;
}
.blog .single-news img{
	width:100%;
	margin:0;
	padding:0;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.blog .single-news .news-head{
	position:relative;
	overflow:hidden;
}
.blog .single-news .news-content {
	text-align: left;
	background: #fff;
	z-index: 99;
	position: relative;
	padding: 30px;
	left: 0;
	z-index: 0;
}
.blog .single-news .news-content:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:2px;
	width:0%;
	background:#1A76D1;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.blog .single-news:hover .news-content:before{
	opacity:1;
	visibility:visible;
	width:100%;
}
.blog .single-news .news-body h2 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	line-height: 24px;
}
.blog .single-news .news-body h2 a{
	color:#2C2D3F;
	font-weight: 500;
}
.blog .single-news .news-body h2 a:hover{
	color:#1A76D1;
}
.blog .single-news .news-content p {
	font-weight: 400;
	text-transform: capitalize;
	font-size: 13px;
	letter-spacing: 0px;
	line-height: 23px;
}
.blog .single-news .news-body .date {
	display: inline-block;
	font-size: 14px;
	margin-bottom: 5px;
	background: #1A76D1;
	color: #fff;
	padding: 4px 15px;
	border-radius: 3px;
	font-size: 14px;
	margin-bottom: 10px;
}
.blog.grid .single-news{
	margin-top:30px;
}
/* Blog Sidebar */
.main-sidebar {
	background: #fff;
	margin-top: 30px;
	background: transparent;
}
.main-sidebar .single-widget {
	margin-bottom: 30px;
	padding: 40px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	border-radius: 8px;
}
.main-sidebar .single-widget .title {
	position: relative;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 30px;
	display: block;
	background: #fff;
	padding-left: 12px;
}
.main-sidebar .single-widget .title::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -1px;
	height: 100%;
	width: 3px;
	background: #1A76D1;
}
.main-sidebar .single-widget:last-child{
	margin:0;
}
.main-sidebar .search{
	position:relative;
}
.main-sidebar .search input {
	width: 100%;
	height: 45px;
	box-shadow: none;
	text-shadow: none;
	font-size: 14px;
	border: none;
	color: #222;
	background: transparent;
	padding: 0 70px 0 20px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 0;
	border: 1px solid #eee;
	border-radius: 5px;
}
.main-sidebar .search .button {
	position: absolute;
	right: 40px;
	top: 40px;
	height: 44px;
	width: 50px;
	line-height: 45px;
	box-shadow: none;
	text-shadow: none;
	text-align: center;
	border: none;
	font-size: 14px;
	color: #fff;
	background: #333;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 0 5px 5px 0;
}
.main-sidebar .search .button:hover {
	background:#1aa9d1;
	color:#fff;
}
/* Category List */
.main-sidebar .categor-list {
	margin-top: 15px;
}
.main-sidebar .categor-list li {
	margin-bottom: 10px;
}
.main-sidebar .categor-list li:last-child{
	margin-bottom:0px;
}
.main-sidebar .categor-list li a {
	display: inline-block;
	color: #333;
	font-size:14px;
}
.main-sidebar .categor-list li a:hover{
	color:#1A76D1;
	padding-left:7px;
}
.main-sidebar .categor-list li a i {
	display: inline-block;
	margin-right:0px;
	font-size: 9px;
	transform: translateY(-1px);
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.main-sidebar .categor-list li a:hover i{
	margin-right: 6px;
	opacity:1;
	visibility:visible;
}
/* Recent Posts */
.main-sidebar .single-post {
	position: relative;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	padding: 17px 0;
}
.main-sidebar .single-post:last-child{
	padding-bottom:0px;
	border:none;
}
.main-sidebar .single-post .image img{
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 20px;
}
.main-sidebar .single-post .content{
	padding-left:100px;
}
.main-sidebar .single-post .content h5 {
	line-height: 18px;
}
.main-sidebar .single-post .content h5 a {
	color: #2C2D3F;
	font-weight: 500;
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
	display: block;
	margin-bottom: 10px;
	margin-top: 0;
}
.main-sidebar .single-post .content h5 a:hover{
	color:#1A76D1;
}
.main-sidebar .single-post .content .comment li{
	color:#888;
	display:inline-block;
	margin-right:15px;
	font-weight:400;
	font-size:14px;
}
.main-sidebar .single-post .content .comment li:last-child{
	margin-right:0;
}
.main-sidebar .single-post .content .comment li i{
	display:inline-block;
	margin-right:5px;
}
/* Blog Tags */
.main-sidebar .side-tags .tag{
	margin-top:40px;
}
.main-sidebar .side-tags .tag li {
	display: inline-block;
	margin-right: 7px;
	margin-bottom: 20px;
}
.main-sidebar .side-tags .tag li a {
	background: #fff;
	color: #333;
	padding: 8px 14px;
	text-transform: capitalize;
	border-radius: 0;
	font-size: 13px;
	background: #F6F7FB;
	border-radius: 4px;
}
.main-sidebar .side-tags .tag a:hover{
	color:#fff;
	background:#1A76D1;
	border-color:transparent;
}
/* News Single */
.news-single {
	padding: 0px 0 90px;
	background: #f8f8f8;
}
.news-single .single-main {
	margin-top: 30px;
	background: #fff;
	padding: 30px;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	border-radius: 8px;
}
.news-single .news-head img{
	width:100%;
	height:100%;
}
.news-single .news-title {
	font-size: 25px;
	margin: 20px 0;
}
.news-single .news-title a {
	color: #252525;
	font-weight: 600;
}
.news-single .news-title a:hover {
	color: #1A76D1;
}
/* Blog Meta */
.news-single{
	background:#fff;
}
.news-single .meta {
	overflow: hidden;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 15px;
}
.news-single .meta span {
	margin-right: 10px;
	display: inline-block;
}
.news-single .meta span:last-child{
	margin:0;
}
.news-single .meta span, .news-single .meta span a {
	color: #2C2D3F;
	font-weight: 400;
}
.news-single .meta span i {
	margin-right: 5px;
	color:#1A76D1;
}
.news-single .meta-left{
	float:left;
}
.news-single .meta-left .author img {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	margin-right: 12px;
}
.news-single .meta-left .author {
	float: left;
}
.news-single .meta-left span.date {
	margin-top: 10px;
}
.news-single .meta-right {
	float: right;
	margin-top: 10px;
}
.news-single .news-content{
	margin:20px 0;
}
.news-single .news-content p{
	margin-bottom:10px;
}
.news-single .news-content p:last-child{
	margin:0;
}
.news-single .news-text p {
	font-size: 14px;
	margin-bottom:20px;
}
/* Image Gallery */
.news-single .image-gallery {
	margin-bottom: 20px;
}
.news-single .image-gallery .single-image {
	overflow: hidden;
}
.news-single .image-gallery .single-image:hover img{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	transform:scale(1.2);
}
/* Blockqoute */
.news-single blockquote {
	background-image: url('img/blockqoute-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 30px;
	overflow: hidden;
}
.news-single blockquote::before {
	opacity: 0.9;
}
.news-single .news-text blockquote p {
	color: #fff;
	margin: 0;
	line-height: 26px;
	font-size: 15px;
	position: relative;
}
.news-single .blog-bottom {
	overflow: hidden;
}
/* Social Share */
.news-single .social-share {
	float: left;
}
.news-single .social-share li {
	float: left;
}
.news-single .social-share li span{
	padding-left:5px;
}
.news-single .social-share li.facebook a{
	background:#5d82d1;
}
.news-single .social-share li.twitter a{
	background:#40bff5;
}
.news-single .social-share li.google-plus a{
	background:#eb5e4c;
}
.news-single .social-share li.linkedin a{
	background:#238cc8;
}
.news-single .social-share li.pinterest a{
	background:#e13138;
}
.news-single .social-share li a {
	padding: 10px 20px;
	display: block;
	color: #fff;
}
.news-single .social-share li a:hover{
	background:#2B343E;
}
/* Prev Next Button */
.news-single .prev-next {
	float: right;
}
.news-single .prev-next li {
	display: inline-block;
	padding: 0;
	margin-right: 5px;
}
.news-single .prev-next li:last-child{
	border:none;
}
.news-single .prev-next li a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 36px;
	text-align: center;
	font-size: 16px;
	border: 1px solid #c4c4c4;
	color: #555;
	border-radius: 4px;
}
.news-single .prev-next li a:hover{
	color:#fff;
	background:#1A76D1;
	border-color:transparent;
}
/* Blog Comments */
.news-single .blog-comments {
	margin-top: 30px;
	background: transparent;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	border-radius: 8px;
	padding: 30px;
}
.news-single .blog-comments h2 {
	text-align: left;
	text-transform: capitalize;
	font-size: 18px;
	color: #252525;
	margin-bottom: 20px;
}
.news-single .blog-comments h4 span{
	float:right;
}
.news-single .single-comments {
	overflow: hidden;
	margin-bottom: 30px;
	background: #fff;
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
}
.news-single .single-comments.left .main {
	padding-left: 100px;
	position: relative;
	margin-left: 100px;
}
.news-single .single-comments.left img{
	position:absolute;
	left:0;
	top:0;
}
.news-single .single-comments:last-child{
	margin:0;
	border:none;
	margin-bottom:0;
	padding-bottom:0;
}
.news-single .single-comments .main {
	overflow: hidden;
}
.news-single .single-comments .head {
	float: left;
	margin-right: 20px;
	text-align: center;
	width: 12%;
}
.news-single .head img {
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border: 5px solid #f8f8f8;
}
.news-single .single-comments .body {
	float: left;
	width: 85%;
}
.news-single .single-comments.left .body{
	float: noene;
	width:100%;
}
.news-single .single-comments .comment-list {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #e2e2e2;
	overflow: hidden;
}
.news-single .single-comments .comment-list .body {
	width: 78%;
}
.news-single .single-comments h4 {
	margin: 0 0 5px;
	font-size: 16px;
	text-align: left;
	font-weight: 500;
	color: #252525;
}
.news-single .single-comments .comment-meta{
	margin-bottom:5px;
}
.news-single .single-comments .meta {
	font-size: 13px;
	color: #555;
	font-weight: 400;
	border: none;
	margin-right: 10px;
	padding: 0;
	margin: 0 10px 0 0;
}
.news-single .single-comments .meta:last-child{
	margin:0;
}
.news-single .comment-meta span i{
	margin-right:5px;
}
.news-single .comment-meta span:last-child{
	margin:0;
}
.news-single .single-comments p {
	font-size: 13px;
}
.news-single .single-comments a {
	text-transform: capitalize;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	padding: 3px 15px;
	display: inline-block;
	margin-top: 10px;
	border-radius: 4px;
	background:#1A76D1;
	color:#fff;
}
.news-single .single-comments a:hover{
	background:#2C2D3F;
	color:#fff;
}
.news-single .single-comments a i{
	margin-right:5px;
}
.news-single .comment-list {
	padding-left:50px;
}
.news-single .single-comments.login{
	text-align:center;
}
.news-single .single-comments.login i{
	font-size:20px;
}
.news-single .single-comments.login a{
	text-align:center;
}
.news-single .single-comments.login a:hover{
	color:#353535;
}
.news-single .comments-form {
	margin-top: 30px;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	border-radius: 8px;
	padding: 30px;
}
.news-single .comments-form h2 {
	text-align: left;
	font-size: 18px;
	color: #353535;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.news-single .form-group {
	position: relative;
	display: block;
	margin: 0 0 20px;
}
.news-single .form-group i {
	position: absolute;
	left: 12px;
	top: 17px;
	z-index: 1;
	color: #1A76D1;
}
.news-single .form-group input {
	width: 100%;
	height: 50px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 400;
	border-radius: 0px;
	padding-left: 34px;
	padding-right: 20px;
	border: none;
	line-height:50px;
	font-weight: 400;
	font-size:14px;
	color:#2C2D3F;
}
.news-single .form-group textarea {
	border: 1px solid #ddd;
	width: 100%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	box-shadow: none;
	border-radius: 0px;
	border: none;
	height: 190px;
	padding: 15px 15px 15px 35px;
	resize: none;
	font-weight: 400;
	font-size:14px;
	color:#2C2D3F;
}
.news-single .form-group input, .news-single .form-group textarea {
	border: 1px solid transparent;
	border: 1px solid #eee;
	border-radius: 5px;
}
.news-single .form-group.message i {
	top: 22px;
}
.news-single .form-group .button {
	padding: 10px 30px;
	font-size: 14px;
	text-transform: uppercase;
	display: block;
	border: 0px solid;
	color: #fff;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 15px 30px;
	
}
.news-single .form-group .button:hover {
	background: #353535;
}
.news-single .form-group .button i{
	position:relative;
	display:inline-block;
	color:#fff;
	margin-right:10px;
	padding:0px;
}
.news-single .form-group.button {
	margin: 0;
	text-align: left;
}
.news-single .form-group.button .btn{
	background:#fff;
	background:#1A76D1;
	color:#fff;
}
.news-single .form-group.button .btn:hover{
	color:#fff;
}
.news-single .form-group.button .btn i {
	color: #fff;
	position: relative;
	top: 0;
	left: 0;
	margin-right: 10px;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	transition:all 0.3s ease 0s;
}
/*===================
	End Blog CSS
=====================*/

/*=========================
   Start About Us CSS
===========================*/
/* styles.css */
/* Set the paragraph's size to cover the entire screen width */
.about-us-content p,
.about-our-story p,
.about-collaboration p {
    width: auto;
    margin: 30px;
    padding: 0;
}



/* Add distance between paragraphs and titles */
.about-us-content h2,
.about-our-story h2,
.about-collaboration h2 {
    margin-bottom: 20px; /* Adjust the value to control the distance */
}

.about-us-content p,
.about-our-story p,
.about-collaboration p {
    margin-bottom: 30px; /* Adjust the value to control the distance */
	line-height: 30px;
	font-size: 17px;
}

/* Change the size of the icons and add distance between them */
.collaboration-icons i {
    font-size: 90px; /* Adjust the size of the icons */
    margin: 50px; /* Adjust the value to control the distance between icons */
}

/* Add a small line under each title */
.about-us-content h2::after,
.about-our-story h2::after,
.about-collaboration h2::after {
    content: "";
    
    width: 30px; /* Adjust the width of the line */
    height: 2px; /* Adjust the thickness of the line */
    background-color: #333; /* Adjust the color of the line */
    margin: 10px auto; /* Adjust the value to center the line and control the distance */
}

/* Add space above the title "Our Story" */
.about-our-story h2 {
    margin-top: 50px; /* Adjust the value to control the space */
}



